
/* Image slider animation  */
.image-slider {
  animation: 25s slide infinite linear;
}

.image-slider:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}


@media screen and (max-width: 640px) {
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-300%);
    }
  }
}
